.option{
	text-align: center;
	height: 50px;
	padding: 0;
	cursor: pointer;
}

#allChannels{
	background: #999;
}

#onlineChannels{
	background: #bbb;
}

#offlineChannels{
	background: #ddd;
}

#allChannels:hover{
	background: #888;
}

#onlineChannels:hover{
	background: #aaa;
}

#offlineChannels:hover{
	background: #ccc;
}

.offline{
	background: #FFABAB;
}

.online{
	background: #B9B9FF;
}

.hide{
	display: none;
}